/* Reiniciar márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general del cuerpo */
body {
  font-family: 'Roboto', sans-serif;  /* Fuente moderna y limpia */
  background: radial-gradient(circle, #1c1c1c, #000000); /* Fondo oscuro con un gradiente sutil */
  color: #ffffff;  /* Texto blanco para alto contraste */
  line-height: 1.6;
  overflow-x: hidden;  /* Eliminar scroll horizontal si existe */
}

/* Enlaces globales */
a {
  color: #ffcc00;  /* Amarillo inspirado en Pikachu */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff9900;  /* Cambia a un tono de amarillo más fuerte al pasar el mouse */
}

/* Contenedor principal */
#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
